In [2]:
import pandas as pd
import numpy as np

In [3]:
#For plotting figures
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [4]:
sns.set(style = "whitegrid", color_codes = True)
sns.set(font_scale = 1)

In [5]:
flats = pd.read_csv("albert.csv")
flats.head()

,Price per month,District,Street,Size(sqm),Number of rooms,Type of the building,Deposit,Utilities,Common cost,Number of separate rooms,...,American kitchen,Can be an office,Foreigners welcomed,Washing machine,Details,Area,Transportation,Near universities,Latitude,Longitude
0,401,20,Hosszú utca,50,\n 2 rooms ...,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1.0,-1.0
1,494,14,Vezér utca,66,\n 2 rooms ...,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1.0,-1.0
2,771,5,Garibaldi utca,66,\n 3 rooms ...,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1.0,-1.0
3,401,6,Szív utca,30,\n 1 room ...,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1.0,-1.0
4,926,1,Alsóhegy utca,135,\n 2 rooms + 2 ...,-1,-1,-1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1.0,-1.0

In [6]:
#shape command gives the num ber of rows(samples)/columns(features) in dataset
flats.shape

(2376, 26)

In [7]:
#describe() gives statistical information about numerical columns in the dataset
flats.describe()

,Price per month,District,Size(sqm),Deposit,Utilities,Common cost,Number of separate rooms,Balconies,American kitchen,Washing machine,Latitude,Longitude
count,2376.000000,2376.000000,2376.000000,2376.000000,2376.000000,2376.000000,2376.000000,2376.0,2376.000000,2376.000000,2376.000000,2376.000000
mean,664.265572,8.321970,61.275673,1265.202020,118.077441,45.138889,0.517256,-1.0,-0.646465,-0.730640,44.951504,18.094623
std,433.217896,4.262576,28.713572,940.651185,1071.416006,82.346130,1.548553,0.0,0.763105,0.682907,10.758141,5.497249
min,3.000000,1.000000,16.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.0,-1.000000,-1.000000,-1.000000,-1.000000
25%,432.000000,5.000000,42.000000,802.000000,43.000000,28.000000,-1.000000,-1.0,-1.000000,-1.000000,47.485070,19.038367
50%,525.000000,8.000000,54.000000,987.000000,62.000000,34.000000,0.000000,-1.0,-1.000000,-1.000000,47.502649,19.059609
75%,741.000000,12.000000,72.000000,1472.750000,77.000000,49.000000,2.000000,-1.0,-1.000000,-1.000000,47.514446,19.076159
max,5558.000000,23.000000,300.000000,12000.000000,27773.000000,2623.000000,6.000000,-1.0,1.000000,1.000000,47.602621,180.000000

In [9]:
#Show the correlations between "Price per month"(dependent variable) and other independant variables 
corr = flats.corr()["Price per month"]
corr[np.argsort(corr, axis = 0)[::-1]]

Price per month             1.000000
Deposit                     0.887050
Size(sqm)                   0.758216
Number of separate rooms    0.206317
Longitude                  -0.032884
Common cost                 0.125707
Balconies                        NaN
American kitchen            0.064995
Utilities                  -0.022871
Washing machine             0.058158
Latitude                   -0.030858
District                   -0.253048
Name: Price per month, dtype: float64